version: '3.8'
services:
  # db:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile-mysql
  #   image: mysql
  #   command: --default-authentication-plugin=mysql_native_password
  #   restart: always
  #   environment:
  #     MYSQL_ROOT_PASSWORD: michael
  #     MYQL_DATABASE: bcapp
  # adminer:
  #   image: adminer
  #   restart: always
  #   ports:
  #     - 3366:8080
  # nodejs:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile-nodejs
  #   # image: nodejs
  #   restart: unless-stopped
  #   ports:
  #     - "8080:8000"
 notes:
  build:
   context: .
   dockerfile: Dockerfile-nodejs
  ports:
   - 8000:8000
   - 9229:9229
  environment:
   - SERVER_PORT=8000
   - CONNECTIONSTRING=mongodb://mongo:27017/notes
   - MYSQL_ROOT_PASSWORD=michael
   - MYQL_DATABASE=bcapp
  volumes:
   - ./:/app
  command: npm run debug

 mongo:
  image: mongo:4.2.8
  ports:
   - 27017:27017
  volumes:
   - mongodb:/data/db
   - mongodb_config:/data/configdb

 db:
  build:
   context: .
   dockerfile: Dockerfile-mysql
  image: mysql-server
  command: --default-authentication-plugin=mysql_native_password
  restart: always
  ports:
   - 3306:3306
   - 33060:33060
  environment:
   MYSQL_ROOT_PASSWORD: michael
   MYQL_DATABASE: bcapp

volumes:
 mongodb:
 mongodb_config:
